/* ------------------------------------------------------------------*/
/* -------------------------- MASTER STYLES  ------------------------*/
/* ------------------------------------------------------------------*/

/* grid */
.my-row {
    padding: 0px;
    margin:0px;

    /*
    border: dotted;
    border-color: red;
    border-width: 2px;
    */
}

.my-col {
    padding: 0px;
    margin: 0px;

    /*
    border: dotted;
    border-color: blue;
    border-width: 2px;
    */
}

.my-container {
    padding: 0px;
    margin: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* loader */
.no-js #loader { 
    display: none;  
}
.js #loader { 
    display: block; position: absolute; left: 100px; top: 0; 
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img/loading.gif) center no-repeat #fff;
}

/* animated */
#sideBanner div {
    z-index: -20;
    position: absolute;
    background: transparent;
    border: transparent;
    height: 30px;
    width: 30px;
}

.square1 {
    top: 90%;
    left: 70%;
    border-radius: 10px 10px 10px 10px;
    animation: navbar-animation-up 15s linear 0s infinite;
}

.square2 {
    top: 75%;
    left: 20%;
    border-radius: 10px 10px 10px 10px;
    animation: navbar-animation-up 15s linear 4s infinite;
}

.square3 {
    top: 60%;
    left: 75%;
    border-radius: 10px 10px 10px 10px;
    animation: navbar-animation 15s linear 7s infinite;
}

.square4 {
    top: 20%;
    left: 50%;
    border-radius: 10px 10px 10px 10px;
    animation: navbar-animation 15s linear 10s infinite;
}

.circle1 {
    top: 0;
    left: 0;
    border-radius: 20px 20px 20px 20px;
    animation: navbar-animation 15s linear 6s infinite;
}

.circle2 {
    top: 90%;
    left: 20%;
    border-radius: 20px 20px 20px 20px;
    animation: navbar-animation-up 15s linear 15s infinite;
}


/* ------------------------------------------------------------------*/
/* -------------------------- KEYFRAMES  ----------------------------*/
/* ------------------------------------------------------------------*/

@keyframes navbar-animation {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
        border: transparent;
        border-color: #02C39A;
    }
    5% {
        border: solid;
        border-color: #02C39A;
        
    }
    50% {
        border-color: #028090;
    }
    95% {
        border: solid;
        border-color: #028090;
        
    }
    100% {
        transform:scale(4) translateY(90px) rotate(360deg);
        opacity: 0;
        border: transparent;
        border-color: #028090;
    }
}

@keyframes navbar-animation-up {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
        border: transparent;
        border-color: #02C39A;
    }
    5% {
        border: solid;
        border-color: #02C39A;
    }
    50% {
        border-color: #028090;
    }
    95% {
        border: solid;
        border-color: #028090;
    }
    100% {
        transform:scale(4) translateY(-90px) rotate(360deg);
        opacity: 0;
        border: solid;
        border-color: #028090;
    }
}


/* ------------------------------------------------------------------*/
/* -------------------------- NAVBAR  -------------------------------*/
/* ------------------------------------------------------------------*/

.nav-item {
    margin-left: auto;
    margin-right: 15px;
}

.navbar {
    background-color: #02C39A;
    height: 100px;
}

.navbar-brand {
    width: 300px;
    text-align: center;
    position: relative;
    height: 100px;
}

#navBrandLogo {
    position: absolute;
    left: 0;
    top: 0;

    width: 100px;
    height: 100px;
}

#navBrandText {
    position: absolute;

    top: 33%;
    left: 35%;
}


/* ------------------------------------------------------------------*/
/* -------------------------- HEADER  -------------------------------*/
/* ------------------------------------------------------------------*/

.navSpacer {
    width: 100%;
    height: 110px;
}

.bannerContainer {
    position: relative;

    height: 88vh;
    background-image: url("img/lakeBackSpreadNew2.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 60px;
}


.my-col-banner {
    padding-right: 0px;
    padding-left: 0px;
}


/* header socials */
.social-iconsHeader a {
    color: white;
    border: 4px solid white;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    border-radius: 50px;
    transition: all ease 1s;
    margin-top: 40px;
}

.social-iconsHeader a:hover i {
    color: #02C39A;
    border-color: #3AAFA9;
}

.social-iconsHeader a:hover {
    color: #02C39A;
    border-color: #02C39A;
}

#headerSocialsRow {
    position: absolute;
    top: 90%;
    left: 50.5%;
    transform: translate(-50%, -50%);
}


/* header logo */
.logoContainer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
}

#cardLogo {
    position: absolute;
    margin: auto;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* hi card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8%;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

.container p {
    font-size: 1.5vw;
    font-weight: 600;
}





/* ------------------------------------------------------------------*/
/* -------------------------- ABOUT ME ------------------------------*/
/* ------------------------------------------------------------------*/

/* about me title */
#aboutMeTitle {
    position: relative;
    height: 200px;
}

.titleText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3.5vw;
}

.longBar {
    opacity: 0;
    position: absolute;
    top: 47%;
    z-index: -10;

    width: 100%;
    height: 10px;
    background: solid;
    background-color: black;
    border-radius: 5px;
}

.bar1 {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 20%;
    width: 1%;
    border-radius: 10px;
    top: 50%;
    left: 18%;
    transform: translate(-18%, -50%);
}

.bar2 {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: black;
    height: 35%;
    width: 1%;
    border-radius: 10px;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.bar3 {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 50%;
    width: 1%;
    border-radius: 10px;
    top: 50%;
    left: 22%;
    transform: translate(-22%, -50%);
}

.bar4 {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: black;
    height: 35%;
    width: 1%;
    border-radius: 10px;
    top: 50%;
    right: 20%;
    transform: translate(-80%, -50%);
}

.bar5 {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 50%;
    width: 1%;
    border-radius: 10px;
    top: 50%;
    right: 22%;
    transform: translate(-78%, -50%);
}

.bar6 {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 20%;
    width: 1%;
    border-radius: 10px;
    top: 50%;
    right: 18%;
    transform: translate(-82%, -50%);
}

/* carousel */
.carouselContainer {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutCarousel {
    position: absolute;
}

.carouselInner {
    position: absolute;
}

.carouselItem {
    position: absolute;
}

#carouselPic {
    height: 100%;
    width: 100%;
}

.row2 {
    height: 450px;
}

/* bio */
#typedHeader {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vw;
}

#bioText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    font-size: 15px;
}

#coolText {
    font-weight: bold;
    color: #02C39A;
}

.aboutMeUniWrapper {
    position: relative;
    height: 200px;

}

#aboutMeUniUW {
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aboutMeUniWLU {
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* typed */
.typed-cursor {
    color: #02C39A;
    
}

.type {
    font-size: 40px;
}

/* media queries */
@media screen and (max-width: 1780px) {
    #bioText {
        font-size: 13px;
    }
}

@media screen and (max-width: 1370px) {
    #bioText {
        font-size: 11px;
    }
}



/* ------------------------------------------------------------------*/
/* -------------------------- SHOWCASE ------------------------------*/
/* ------------------------------------------------------------------*/

/* showcase title */
#showcaseTitle {
    position: relative;
    height: 200px;
}

.sectionHeadingRow {
    height: 200px;
}

.bar1B {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 20%;
    width: 3%;
    border-radius: 10px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.bar2B {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 35%;
    width: 3%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar3B {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 50%;
    width: 3%;
    border-radius: 10px;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.bar4B {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 50%;
    width: 3%;
    border-radius: 10px;
    top: 50%;
    right: 60%;
    transform: translate(-50%, -50%);
}

.bar5B {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 35%;
    width: 3%;
    border-radius: 10px;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.bar6B {
    opacity: 0;
    position: absolute;
    background: solid;
    background-color: #02C39A;
    height: 20%;
    width: 3%;
    border-radius: 10px;
    top: 50%;
    right: 40%;
    transform: translate(-82%, -50%);
}

/*showcase section */
.portfolio-items-wrapper { /* two columns */
    background: solid;
    background-color: #02C39A;
}

.portfolio-item-wrapper {
    position: relative; /* required if you want to have any absolute position requirements nested*/
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    background: solid;
    background-color: #DEF2F1;
    border-radius: 10px;
}

.portfolio-img-background {
    height: 350px; 
    width: 100%; /*width adjusts automatically*/
    background-size: cover; /*crops the images so that they all sit nicely next to each other*/
    background-position: center;
    background-repeat: no-repeat;   /* because we put the style directly in the html file */
    border-radius: 10px;
}

.img-text-wrapper {
    position: absolute; /* absolute -> we are forcing it to be somewhere it normally does not go */
    top: 0; /* very top */
    display: flex;
    flex-direction: column; 
    justify-content: center; /*left to right (center) */ 
    align-items: center; /* top to bottom (center) */
    height: 100%;
    width: 95%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logoWrapperTL {
    position: absolute;
    top: 50px;
    left: 50px;
}

.logoWrapperTL img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    height: 50px;
    margin-bottom: 20px;
}

.logoWrapperBR {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.logoWrapperBR img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    height: 50px;
    margin-bottom: 20px;
}

.portfolioSubtitle {
    font-size: 15px;
}

.img-text-wrapper .portfolioSubtitle {
    font-weight: 600;
    transition: 0.25s;
    color: transparent;
}

.img-text-wrapper:hover .portfolioSubtitle {
    font-weight: 600;
    color: black;
}

.img-darken {
    transition: 1s;
    opacity: 0.15;
}

.img-fade-in {
    transition: 1s;
    opacity: 0.1;
}

/* media queries */
@media screen and (max-width: 1700px) {
    .portfolioSubtitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 1080px) {
    .portfolioSubtitle {
        font-size: 10px;
    }
}




/* ------------------------------------------------------------------*/
/* -------------------------- BLOG ----------------------------------*/
/* ------------------------------------------------------------------*/

/* blog title */
#blogTitle {
    position: relative;
    height: 200px;
}

/* articles */
#blogSection {
    position: relative;
    height: 400px;
}

#articleContainer {
    position: absolute;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 51.5%;
    transform: translate(-50%, -50%);

    background: #02C39A;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#articleContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#articleBackground {
    position: absolute;
    height: auto;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#articleDescriptionContainer {
    text-align: center;
    vertical-align: center;
}

.descriptionInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: solid;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#articleTitle {
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

#articleDescription {
    font-weight: 450;
    padding-left: 10px;
    padding-right: 10px;
}

#articleDate {
    font-weight: 150;
    padding-left: 10px;
    padding-right: 10px;
}


/* responsive text resizing */

@media screen and (min-width: 1250px) {
    #articleTitle {
        font-size: 35px;
    }

    #articleDescription {
        font-size: 15px;
    }

    #articleDate {
        font-size: 12.5px;
    }
}

  @media screen and (max-width: 1251px) {
    #articleTitle {
        font-size: 20px;
    }
    
    #articleDescription {
        font-size: 8.55px;
    }
    
    #articleDate {
        font-size: 7.14px;
    }
}



/* ------------------------------------------------------------------*/
/* -------------------------- FOOTER --------------------------------*/
/* ------------------------------------------------------------------*/

#footerSection {
    position: absolute;
    width: 100%;
    height: 300px;
    background: solid;

}

.footerTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    
    color: black;
    text-align: center;
}

#footerText {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#footerSocials {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
}

#social {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.social-iconsFooter a {
    color: black;
    border: 4px solid black;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    border-radius: 50px;
    transition: all ease 1s;
    margin-top: 40px;
}

.social-iconsFooter a:hover i {
    color: #02C39A;
    border-color: #3AAFA9;
}

.social-iconsFooter a:hover {
    color: #02C39A;
    border-color: #02C39A;
}