/* ------------------------------------------------------------------*/
/* -------------------------- MASTER STYLES  ------------------------*/
/* ------------------------------------------------------------------*/

/* colour variables */
:root {
    --mint: #02C39A;
    --darkBlue: #05668D;
    --offBlack: #03071e;
    --paleSpring: #F0F3BD;
    --midBlue: #028090;
    --textGray: #e5e5e5;
}

/* dm/lm styles */
.light-mode {
    --columnBackground: white;
    --sideBannerUpBegin: var(--mint);
    --sideBannerUpEnd: var(--darkBlue);
    --sideBannerDownBegin: var(--darkBlue);
    --sideBannerDownEnd: var(--mint);
    --navLogo: url("img/logo/white_clean.png");
    --navText: white;
    --switchBackground: white;
    --switchSlider: var(--mint);
    --switchIcons: white; 
    --navBackground: var(--mint);
    /*--headerLogo: ;*/
    --headerPic: url("img/lakeBackSpreadNew2.png");
    --headerCard: white;
    --headerCardText: black;
    --headerSocials: white;
    --headerSocialsFade: var(--mint);
    --text: black;
    --coolText: var(--mint);
    --portfolioBorder: var(--mint);
    --portfolioBackground: white;
}

.dark-mode {
    --columnBackground: var(--offBlack);
    --sideBannerUpBegin: var(--midBlue);
    --sideBannerUpEnd: var(--darkBlue);
    --sideBannerDownBegin: var(--darkBlue);
    --sideBannerDownEnd: var(--midBlue);
    --navLogo: url("img/logo/black_clean.png");
    --navText: black;
    --switchBackground: var(--offBlack);
    --switchSlider: var(--darkBlue);
    --switchIcons: var(--offBlack); 
    --navBackground: var(--darkBlue);
    /*--headerLogo: url(img/logo/);*/
    --headerPic: url("img/lakeBackSpreadNew2.png");
    --headerCard: var(--darkBlue);
    --headerCardText: var(--textGray);
    --headerSocials: var(--textGray);
    --headerSocialsFade: var(--midBlue);
    --text: var(--textGray);
    --coolText: var(--midBlue);
    --portfolioBorder: var(--midBlue);
    --portfolioBackground: var(--midBlue);
}



/* transitions for dm/lm */
.my-col {
    transition: background-color 0.6s ease, color 1s ease;
}

.my-row {
    transition: background-color 0.6s ease, color 1s ease;
}

.navbar {
    transition: background-color 0.6s ease, color 1s ease;
}

.switch div {
    transition: background-color 0.6s ease, color 1s ease;
}

.slider {
    transition: background-color 0.6s ease, color 1s ease;
}

.fa-sun-o {
    transition: background-color 0.6s ease, color 1s ease;
}

.fa-moon-o {
    transition: background-color 0.6s ease, color 1s ease;
}

.card {
    transition: background-color 0.6s ease, color 1s ease;
}

.social-iconsHeader a {
    transition: background-color 0.6s ease, color 1s ease;
}

.social-iconsHeader a:hover i {
    transition: background-color 0.6s ease, color 1s ease;
}

.social-iconsHeader a:hover {
    transition: background-color 0.6s ease, color 1s ease;
}

.titleText {
    transition: background-color 0.6s ease, color 1s ease;
}

#bioText {
    transition: background-color 0.6s ease, color 1s ease;
}

#coolText {
    transition: background-color 0.6s ease, color 1s ease;
}

#typedHeader {
    transition: background-color 0.6s ease, color 1s ease;
}

.portfolio-items-wrapper {
    transition: background-color 0.6s ease, color 1s ease;
}

.portfolio-item-wrapper {
    transition: background-color 0.6s ease, color 1s ease;
}

.portfolio-img-background {
    transition: background-color 0.6s ease, color 1s ease;
}

.typed-cursor {
    transition: background-color 0.6s ease, color 1s ease;
}

.navBrandLogo {
    transition: background-color 0.6s ease, color 1s ease;
}

#navbrandText {
    transition: background-color 0.6s ease, color 1s ease;
}

#navLinkText {
    transition: background-color 0.6s ease, color 1s ease;
}

/* grid */
.my-row {
    padding: 0px;
    margin:0px;

    background: solid;
    background: var(--columnBackground);
    /*
    border: dotted;
    border-color: red;
    border-width: 2px;
    */
}

.my-col {
    padding: 0px;
    margin: 0px;

    background: solid;
    background: var(--columnBackground);

    /*
    border: dotted;
    border-color: blue;
    border-width: 2px;
    */
}

.body {
    background: solid;
    background: purple;
}

.my-container {
    padding: 0px;
    margin: 0px;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}



/* loader */
.no-js #loader { 
    display: none;  
}
.js #loader { 
    display: block; position: absolute; left: 100px; top: 0; 
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img/loading.gif) center no-repeat #fff;
}

/* animated */
#sideBanner div {
    z-index: 20;
    position: absolute;
    background: transparent;
    border: transparent;
    height: 30px;
    width: 30px;
}

.square1 {
    top: 90%;
    left: 70%;
    border-radius: 10px 10px 10px 10px;
    animation: sideBannerAnimUp 15s linear 0s infinite;
}

.square2 {
    top: 75%;
    left: 20%;
    border-radius: 10px 10px 10px 10px;
    animation: sideBannerAnimUp 15s linear 4s infinite;
}

.square3 {
    top: 60%;
    left: 75%;
    border-radius: 10px 10px 10px 10px;
    animation: sideBannerAnim 15s linear 7s infinite;
}

.square4 {
    top: 20%;
    left: 50%;
    border-radius: 10px 10px 10px 10px;
    animation: sideBannerAnim 15s linear 10s infinite;
}

.circle1 {
    top: 0;
    left: 0;
    border-radius: 20px 20px 20px 20px;
    animation: sideBannerAnim 15s linear 6s infinite;
}

.circle2 {
    top: 90%;
    left: 20%;
    border-radius: 20px 20px 20px 20px;
    animation: sideBannerAnimUp 15s linear 15s infinite;
}


/* ------------------------------------------------------------------*/
/* -------------------------- KEYFRAMES  ----------------------------*/
/* ------------------------------------------------------------------*/

@keyframes sideBannerAnim {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
        border: transparent;
        border-color: var(--sideBannerDownBegin);
    }
    5% {
        border: solid;
        border-color: var(--sideBannerDownBegin);
        
    }
    50% {
        border-color: var(--sideBannerDownEnd);
    }
    95% {
        border: solid;
        border-color: var(--sideBannerDownEnd);
        
    }
    100% {
        transform:scale(4) translateY(90px) rotate(360deg);
        opacity: 0;
        border: transparent;
        border-color: var(--sideBannerDownEnd);
    }
}

@keyframes sideBannerAnimUp {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
        border: transparent;
        border-color: var(--sideBannerUpBegin);
    }
    5% {
        border: solid;
        border-color: var(--sideBannerUpBegin);
    }
    50% {
        border-color: var(--sideBannerUpEnd);
    }
    95% {
        border: solid;
        border-color: var(--sideBannerUpEnd);
    }
    100% {
        transform:scale(4) translateY(-90px) rotate(360deg);
        opacity: 0;
        border: solid;
        border-color: var(--sideBannerUpEnd);
    }
}


/* ------------------------------------------------------------------*/
/* -------------------------- NAVBAR  -------------------------------*/
/* ------------------------------------------------------------------*/

.nav-item {
    margin-left: auto;
    margin-right: 15px;
}

.nav-link p {
    margin-top: 20px;
}

#navLinkText {
    color: var(--navText);
}

.navbar {
    background-color: var(--navBackground);
}

.navbar-brand {
    width: 300px;
    text-align: center;
    position: relative;
    height: 100px;
}

.navBrandLogo {
    position: absolute;
    left: 0;
    top: 0;

    width: 100px;
    height: 100px;

    background: var(--navLogo);
    background-size: cover; 
    background-position: center;
}

#navBrandText {
    position: absolute;
    top: 33%;
    left: 35%;

    color: var(--navText);
}

/* lm/dm switch */
.switch {
    width: 100px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
    margin-right: 40px;
}

.switch div {
    position: relative;
    display: block;
    background: var(--switchBackground);
    width: 50px;
    border-radius: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.fa-sun-o {
    color: var(--switchIcons);
}

.fa-moon-o {
    color: var(--switchIcons);
}

.switch input {
    display: none;
}

.slider {
    background-color: var(--switchSlider);
    transition: 0.4s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
}

input:checked + .slider {
    transform: translateX(28px);
}


/* ------------------------------------------------------------------*/
/* -------------------------- HEADER  -------------------------------*/
/* ------------------------------------------------------------------*/

.navSpacer {
    width: 100%;
    height: 120px;
}

.bannerContainer {
    z-index: 21;
    position: relative;

    height: 85vh;
    background-image: var(--headerPic);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 60px;
}


.my-col-banner {
    padding-right: 0px;
    padding-left: 0px;
}


/* header socials */
.social-iconsHeader a {
    color: var(--headerSocials);
    border: 4px solid var(--headerSocials);
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    border-radius: 50px;
    transition: all ease 1s;
    margin-top: 40px;
}

.social-iconsHeader a:hover i {
    color: var(--headerSocialsFade);
}

.social-iconsHeader a:hover {
    color: var(--headerSocialsFade);
    border-color: var(--headerSocialsFade);
}

#headerSocialsRow {
    position: absolute;
    top: 90%;
    left: 50.7%;
    transform: translate(-50%, -50%);

    padding: 0px;
    margin: 0px;
}


/* header logo */
.logoContainer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
}

#cardLogo {
    position: absolute;
    margin: auto;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* hi card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    background-color: var(--headerCard);
    color: var(--headerCardText);
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

#cardText {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}




/* ------------------------------------------------------------------*/
/* -------------------------- ABOUT ME ------------------------------*/
/* ------------------------------------------------------------------*/

/* about me title */
#aboutMeTitle {
    position: relative;
    height: 300px; /*normally 200px with pics present */
    z-index: 100;
}

.titleText {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3.5vw;
    color: var(--text);
}

.longBar {
    opacity: 0;
    position: absolute;
    top: 47%;
    z-index: -10;

    width: 100%;
    height: 10px;
    background: solid;
    background-color: black;
    border-radius: 5px;
}

/* carousel */
.carouselContainer {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutCarousel {
    position: absolute;
}

.carouselInner {
    position: absolute;
}

.carouselItem {
    position: absolute;
}

#carouselPic {
    height: 100%;
    width: 100%;
}

.row2 {
    height: 450px;
}

/* bio */
#typedHeader {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vw;
    color: var(--text);
}

#bioText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    font-size: 15px;
    color: var(--text);
}

#coolText {
    font-weight: bold;
    color: var(--coolText);
}

.aboutMeUniWrapper {
    position: relative;
    height: 100px;
    /* normally 200px with pics present */
}

#aboutMeUniUW {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aboutMeUniWLU {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* typed */
.typed-cursor {
    color: var(--coolText);
}

.type {
    font-size: 40px;
}

/* media queries */
@media screen and (max-width: 1780px) {
    #bioText {
        font-size: 13px;
    }
}

@media screen and (max-width: 1370px) {
    #bioText {
        font-size: 11px;
    }
}

@media screen and (max-width: 990px) {
    #bioText {
        font-size: 17px;
    }
}

@media screen and (max-width: 990px) {
    #bioText {
        font-size: 17px;
    }
}



/* ------------------------------------------------------------------*/
/* -------------------------- SHOWCASE ------------------------------*/
/* ------------------------------------------------------------------*/

/* showcase title */
#showcaseTitle {
    position: relative;
    height: 200px;
}

.sectionHeadingRow {
    height: 200px;
}

/*showcase section */
.portfolio-items-wrapper {
    z-index: 100;
    background: solid;
    background-color: var(--portfolioBorder);
}

.portfolio-item-wrapper {
    z-index: 100;
    position: relative; /* required if you want to have any absolute position requirements nested*/
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    background: solid;
    background-color: var(--columnBackground);
    border-radius: 10px;
}

.portfolio-img-background {
    z-index: 100;
    height: 350px; 
    width: 100%; /*width adjusts automatically*/
    background-size: cover; /*crops the images so that they all sit nicely next to each other*/
    background-position: center;
    background-repeat: no-repeat;   /* because we put the style directly in the html file */
    background: solid;
    background-color: var(--columnBackground);
    border: solid;
    border-width: 5px;
    border-color: var(--portfolioBorder);
    border-radius: 10px;
}

.img-text-wrapper {
    z-index: 100;
    position: absolute; /* absolute -> we are forcing it to be somewhere it normally does not go */
    top: 0; /* very top */
    display: flex;
    flex-direction: column; 
    justify-content: center; /*left to right (center) */ 
    align-items: center; /* top to bottom (center) */
    height: 100%;
    width: 95%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logoWrapperTL {
    z-index: 100;
    position: absolute;
    top: 50px;
    left: 50px;
}

.logoWrapperTL img {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    height: 50px;
    margin-bottom: 20px;
}

.logoWrapperBR {
    z-index: 100;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.logoWrapperBR img {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    height: 50px;
    margin-bottom: 20px;
}

.portfolioSubtitle {
    z-index: 100;
    font-size: 15px;
}

.img-text-wrapper .portfolioSubtitle {
    z-index: 100;
    font-weight: 600;
    transition: 0.25s;
    color: transparent;
}

.img-text-wrapper:hover .portfolioSubtitle {
    z-index: 100;
    font-weight: 600;
    color: var(--text);
}

.img-darken {
    z-index: 100;
    transition: 1s;
    opacity: 0.15;
}


/* media queries */
@media screen and (max-width: 1700px) {
    .portfolioSubtitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 1080px) {
    .portfolioSubtitle {
        font-size: 10px;
    }
}

@media screen and (max-width: 990px) {
    .portfolioSubtitle {
        font-size: 20px;
    }
}


/* ------------------------------------------------------------------*/
/* -------------------------- BLOG ----------------------------------*/
/* ------------------------------------------------------------------*/

/* blog title */
#blogTitle {
    position: relative;
    height: 200px;
}

/* articles */
#blogSection {
    position: relative;
    height: 400px;
}

#articleContainer {
    position: absolute;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 51.5%;
    transform: translate(-50%, -50%);

    background: var(--mint);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#articleContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#articleBackground {
    position: absolute;
    height: auto;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#articleDescriptionContainer {
    text-align: center;
    vertical-align: center;
}

.descriptionInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: solid;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#articleTitle {
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

#articleDescription {
    font-weight: 450;
    padding-left: 10px;
    padding-right: 10px;
}

#articleDate {
    font-weight: 150;
    padding-left: 10px;
    padding-right: 10px;
}


/* responsive text resizing */

@media screen and (min-width: 1250px) {
    #articleTitle {
        font-size: 35px;
    }

    #articleDescription {
        font-size: 15px;
    }

    #articleDate {
        font-size: 12.5px;
    }
}

  @media screen and (max-width: 1251px) {
    #articleTitle {
        font-size: 20px;
    }
    
    #articleDescription {
        font-size: 8.55px;
    }
    
    #articleDate {
        font-size: 7.14px;
    }
}



/* ------------------------------------------------------------------*/
/* -------------------------- FOOTER --------------------------------*/
/* ------------------------------------------------------------------*/

#footerSection {
    position: absolute;
    width: 100%;
    height: 300px;
    background: solid;

}

.footerTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    
    color: var(--text);
    text-align: center;
}

#footerText {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#footerSocials {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
}

#social {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.social-iconsFooter a {
    color: var(--text);
    border: 4px solid var(--text);
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    border-radius: 50px;
    transition: all ease 1s;
    margin-top: 40px;
}

.social-iconsFooter a:hover i {
    color: var(--headerSocialsFade);
}

.social-iconsFooter a:hover {
    color: var(--headerSocialsFade);
    border-color: var(--headerSocialsFade);
}